*, *::before, *::after 
{
  box-sizing: border-box;
}

body
{
    margin: 0;
    font-family:'Poppins';
    height: 1080px;
    background-color: #F2F2F2;
}

img
{
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 50px;
}

.titulo_livro
{
    position: relative;
    top: 164px;
    left: 1030px;
    width: 967px;
    height: 83px;
}

.titulo_livro h1
{
    display: flex;
    color:#FECC00;
    font-size: 64px;
    font-weight: 400;
}

.sobre_livro
{
    position: relative;
    display: flex;
    width: 588px;
    height: 239px;
    top: 202px;
    left: 1030px;
    color: #1E1D1D;
}

.sobre_livro p
{
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-align: justify;
}

.livro_calculo
{
    position: absolute;
    display: inline;
    width: 395px;
    height: 535px;
    top: 300px;
    left: 227px;
}

.localizacao
{
    position: relative;
    display: flex;
    width: 584px;
    height: 64px;
    top: 344px;
    left: 1030px;
    border-radius: 6px;
    background: #F2F2F2;
    box-shadow: -1px 4px 9px 0px rgba(0, 0, 0, 0.10), -5px 15px 16px 0px rgba(0, 0, 0, 0.09), -12px 34px 22px 0px rgba(0, 0, 0, 0.05), -21px 61px 26px 0px rgba(0, 0, 0, 0.01), -32px 95px 28px 0px rgba(0, 0, 0, 0.00);
}

.inside_text
{
    position: relative;
    display: flex;
    width: 420px;
    height: 40px;
    top: 12px;
    /*left: 32;*/
}

.inside_text p
{
    position: absolute;
    margin: 0;
    display: inline;
    text-align: center;
    top: 2px;
    left: 217px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.inside_text img {
    position: absolute;
    top: 0; /* Ajuste conforme necessário */
    left: 10; /* Ajuste conforme necessário */
    width: 48px;
    height: 48px;
}

.reservar_area
{
    position: relative;
    width:279px;
    height: 64px;
    left: 1282px;
    top: 439px;
    border-radius: 32px;
    color: #FECC00;
}

.reservar_area button
{
    position: relative;
    width: 279px;
    height: 64px;
    top: 30px;
    right: 100px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 600px;
    font-size: 20px;
    font-style: normal;
    border: none;
    cursor: pointer;
    border-radius: 32px;
    background: #FECC00;
}

.livro_reservado
{
    position: relative;
    width: 910px;
    height: 321px;
    left: 265px;
    top: 151px;
}

.livro_reservado .container
{
    position: relative;
    width: 910px;
    height: 321px;
    left: 265px;
    bottom: 255px;
    border-radius: 13px;
    border: 2px;
    display: flex;
    background: var(--gray-white, #FFF);
    box-shadow: 0px 33.412px 33.412px 0px rgba(0, 0, 0, 0.08), 0px 0px 3.341px 0px rgba(0, 0, 0, 0.12);
    z-index: 6;
}

.container .icones .check_reservado
{
    position: absolute;
    width: 46px;
    height: 46px;
    left: 90px;
    top: 70px;
}

.container .icones .fechar_amarelo
{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 28px;
    left: 856px;
}

.container .esta_reservado
{
    position: absolute;
    width: 271px;
    height: 40px;
    top: 45px;
    left: 200px;

}

.esta_reservado h1
{
    font-size: 30px;
    font-weight: 600px;
    line-height: normal;

}

.container .texto_reserva
{
    position: absolute;
    width: 643px;
    height: 148px;
    right: 66px;
    bottom: 60.14px;
}

.texto_reserva p
{
    color:rgba(84, 89, 94, 0.60);
    font-size: 23px;
    font-weight: 400;
}

.retangulo_cinza
{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 880px;
    margin: 0;
    background: rgba(217, 217, 217, 0.70);
    z-index: 2;
}